<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <img src="/img/logo.png" alt="logo" style="width: 50px; height: 50px">
    <a class="navbar-brand" href="/">T-Shirt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Novedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Tu lo diseñas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Tu lo vendes</a>
          </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Perfil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/logout">Cerrar Sesion</a>
              <li  class="center-align"></li><a href="/users/signin" class="enlace-superior"><i class=" material-icons left">shopping_cart</i>Mi carrito
            </a></li>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup"><i class="material-icons right">perm_identity</i>Registro</a>
          </li>
          
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
