<div class="jumbotron mt-5">
  <div class="slider ">
                <ul class="slides">
                    <li>
                        <img  src="img/imagen_slider_1.jpg"> <!-- random image -->
                        <!--                        <div class="caption center-align">
                                                    <h3>This is our big Tagline!</h3>
                                                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                </div>-->
                    </li>
                    <!--                    <li>
                                            <img src="img/imagen_slider_2.jpg">  random image 
                                            <div class="caption left-align">
                                                <h3>Left Aligned Caption</h3>
                                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                            </div>
                                        </li>-->
                    <li>
                        <img src="img/imagen_slider_3.jpg"> <!-- random image -->
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="img/imagen_slider_4.jpg"> <!-- random image -->
                        <div class="caption right-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container ">
                <h5 class="center-align">Nuestras camisetas más vendidas</h5> 
                <div class="row">
                    <div class="col-l1 offset-l1 s4">
                        <img class="materialboxed responsive-img" src="img/logo1.jpg" style="width:200px; height:200px">
                    </div>
                    <div class="col-l2 offset-l1 s4">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangaLargaHombre.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col-l3 offset s4">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraPicoHombre.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col-l4 s4 offset-s2">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangacortaMujer.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col-l5 s4">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangaLargaMujer.jpg" style="height: 200px;width: 200px">
                    </div>

                </div>
                <h5 class="center-align">Nuestras novedades del mes</h5> 
                <div class="row">
                    <div class="col l2 offset-l1 s4">
                        <img class="materialboxed responsive-img" src="img/fotosMasdeMil/camisetas/delanteraMangaLargaHombre.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col l2 s4">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangaLargaHombre.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col l2 s4">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangaLargaHombre.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col l2 s4 offset-s2">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangaLargaHombre.jpg" style="height: 200px;width: 200px">
                    </div>
                    <div class="col l2 s4">
                        <img class="materialboxed responsive-img"  src="img/fotosMasdeMil/camisetas/delanteraMangaLargaHombre.jpg" style="height: 200px;width: 200px">
                    </div>

                </div>
                <div class="row">
                    <div class="col l3  s12">
                        <div class="col l3 m2 s2">
                            <img  id="camion" class="envio responsive-img" src="img/envio.png">
                        </div>
                        <div class="col l9 m10 s10">
                            <h5 class="left-align">Envío gratis</h5> 
                            <p class="envio" >A partir de 3 productos</p>
                        </div>
                    </div>

                    <div class="col l5  s12">
                        <div class="col l2 m2 s2">
                            <img id="horas" class=" envio responsive-img" src="img/24h.png">
                        </div>
                        <div class="col l10 m10 s10">
                            <h5 class="left-align">Te lo entregamos cuando quieras</h5> 
                            <p class="envio" >Tu decides el servicio de entrega. Si tienes prisa te lo entregamos en 24 h.</p>
                        </div>

                    </div>
                    <div class="col l4  s12">
                        <div class="col l2 m2 s2">
                            <img  id="camion" class="envio responsive-img" src="img/paquete.png">
                        </div>
                        <div class="col l10 m10 s10">
                            <h5 class="left-align">Te lo ponemos fácil</h5> 
                            <p class="envio">Cambios y devoluciones gratuitas durante 30 días.</p>
                        </div>

                    </div>

                </div>

            </div>
            <div class="container">
    <div class="row">
        <div class="col l8 offset-l2 s12">


            <div class="col l4 m12 s12 borde-derecho-blanco">
                <p class="white-text">Villahermosa, Tabasco.</p>

            </div>
            <div class="col l4 m12 s12 borde-derecho-blanco">
                <p class="white-text">Tel.: +52 993 212 3456</p>
            </div>
            <div class="col l4 m12 s12">
                <p class="white-text">info@tshirtcreators.com</p>
            </div>
            <div class="col l6 m12 s12 borde-derecho-blanco">
                <p class="white-text">Fracc. Galaxias</p>
            </div>
            <div class="col l6 m12 s12">
                <p class="white-text">86000, Centro, Tabasco, México.</p>
            </div>
        </div>
    </div>
</div>
</div>
